pkgbase = gadak-bin
	pkgdesc = Local SQLite mirror of Jira and Confluence — web UI and agent SQL
	pkgver = 0.22.0
	pkgrel = 1
	url = https://github.com/midagedev/gadak
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = gadak
	conflicts = gadak
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/midagedev/gadak/releases/download/v0.22.0/gadak_0.22.0_linux_amd64.tar.gz
	sha256sums_x86_64 = 5b5e4d09026f65715f2a5c4fc1215926e9f4244119fb44737170600c8368a48a
	source_aarch64 = https://github.com/midagedev/gadak/releases/download/v0.22.0/gadak_0.22.0_linux_arm64.tar.gz
	sha256sums_aarch64 = 9690b06b38396c35afff635aefcdef82a464f7a4d22abab16e7e66cf510d7ab6

pkgname = gadak-bin
